.btn {
  background-color: #00a7a3;
  color: white;
}

.btn1 {
  background-color: white;
  font-size: 15px;
  color: #00a7a3;
  border: 2px solid #00a7a3;
  border-radius: 4px;
}

.txt {
  color: #00a7a3;
}

.hrg {
  color: #214455;
}

.footer {
  margin-top: 28%;
}

.progress-bar {
  background-color: #00a7a3;
}

.table > tbody > tr > * {
  vertical-align: middle;
}
